In [ ]:
#conda install -c conda-forge gmaps

In [1]:
!jupyter nbextension enable --py --sys-prefix gmaps

!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: OK

In [2]:
## MC BEGIN MODULE 6 - Google Maps API

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,57.22,44,75,26.46,CL,2022-11-16 19:40:21
1,1,Ancud,-41.8697,-73.8203,59.16,76,32,8.19,CL,2022-11-16 19:43:45
2,2,Kahului,20.8947,-156.4700,80.62,67,20,11.50,US,2022-11-16 19:37:16
3,3,Qaanaaq,77.4840,-69.3632,-1.19,98,100,3.04,GL,2022-11-16 19:43:46
4,4,Arraial Do Cabo,-22.9661,-42.0278,76.96,83,75,12.66,BR,2022-11-16 19:37:16

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Kahului,20.8947,-156.4700,80.62,67,20,11.50,US,2022-11-16 19:37:16
4,4,Arraial Do Cabo,-22.9661,-42.0278,76.96,83,75,12.66,BR,2022-11-16 19:37:16
5,5,Mar Del Plata,-38.0023,-57.5575,78.84,66,75,12.66,AR,2022-11-16 19:40:10
6,6,Puerto Ayora,-0.7393,-90.3518,78.76,86,64,7.00,EC,2022-11-16 19:40:23
19,19,Nokaneng,-19.6667,22.2667,81.90,27,0,6.60,BW,2022-11-16 19:43:49
24,24,Vaini,-21.2000,-175.2000,76.62,70,0,2.57,TO,2022-11-16 19:41:51
31,31,Meulaboh,4.1363,96.1285,75.09,89,100,3.67,ID,2022-11-16 19:40:18
34,34,Avarua,-21.2078,-159.7750,78.85,61,75,13.80,CK,2022-11-16 19:40:22
41,41,Santa Maria,-29.6842,-53.8069,85.30,30,0,6.91,BR,2022-11-16 19:43:55
45,45,Salinopolis,-0.6136,-47.3561,82.72,68,80,10.02,BR,2022-11-16 19:44:56

In [20]:
#   USE ANY OF THE BELOW TO CHECK FOR NULL VALUES

preferred_cities_df.count()

#preferred_cities_df.isnull().sum()

#preferred_cities_df.notnull().sum()

City_ID       146
City          146
Lat           146
Lng           146
Max Temp      146
Humidity      146
Cloudiness    146
Wind Speed    146
Country       146
Date          146
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2           Kahului      US     80.62  20.8947 -156.4700
4   Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
5     Mar Del Plata      AR     78.84 -38.0023  -57.5575
6      Puerto Ayora      EC     78.76  -0.7393  -90.3518
19         Nokaneng      BW     81.90 -19.6667   22.2667
24            Vaini      TO     76.62 -21.2000 -175.2000
31         Meulaboh      ID     75.09   4.1363   96.1285
34           Avarua      CK     78.85 -21.2078 -159.7750
41      Santa Maria      BR     85.30 -29.6842  -53.8069
45      Salinopolis      BR     82.72  -0.6136  -47.3561

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Kahului,US,80.62,20.8947,-156.4700,Maui Seaside Hotel
4,Arraial Do Cabo,BR,76.96,-22.9661,-42.0278,Pousada Porto Praia
5,Mar Del Plata,AR,78.84,-38.0023,-57.5575,Gran Hotel Mar del Plata
6,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
19,Nokaneng,BW,81.90,-19.6667,22.2667,
24,Vaini,TO,76.62,-21.2000,-175.2000,Keleti Beach Resort
31,Meulaboh,ID,75.09,4.1363,96.1285,Kost Pria
34,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
41,Santa Maria,BR,85.30,-29.6842,-53.8069,Hotel Morotin
45,Salinopolis,BR,82.72,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [35]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))